
@import "_mixins";


#keywordSearch {
    float: right;

    form > .panel-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .has-switch {
        > div {
            @include transition(left 0 ease);
        }

        label[for="language-selector"] {
            width: 0;
        }

        .switch-left, .switch-right {
            background: #428bca;
            color: white;
            @include transition((background 0.1s ease));
        }

        &.switch-on {
            .switch-right {
                background: #a2b7ca;
            }
        }

        &.switch-off {
            > div {
                margin-left: 50%;
            }

            .switch-left {
                background: #a2b7ca;
            }
        }
    }

    input[type="text"] {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#fulltextSearch {
    .input-col {
        padding-left: 0;
    }

    input[type="text"] {
        width: 100%;
    }
}

#result {
    @include opacity(0);
    @include transition(opacity 0.5s ease);

    &.active {
        @include opacity(1);
    }

    > .throbber {
        position: absolute;
        margin-top: 10px;

        @include opacity(0);
        @include transition(opacity 0.2s ease);

        &.active {
            @include opacity(1);
        }
    }

    > table {
        @include opacity(0);
        @include transition(opacity 0.2s ease);

        &.active {
            @include opacity(1);
        }
    }

    > .pagination {
        width: 220px;
        margin: 20px 0 0;
        padding: 4px;
        @include opacity(0);
        @include transition(opacity 0.5s ease);

        &.active {
            @include opacity(1);
        }

        a {
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
        }
    }
}



