
@import "_mixins";


#keywordSearch {
    float: right;

    form > .panel-body {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    .has-switch {
        .switch-left, .switch-right {
            background: #428bca;
            color: white;
        }
    }

    input[type="text"] {
        margin-left: 10px;
        margin-right: 10px;
    }
}

#fulltextSearch {
    .input-col {
        padding-left: 0;
    }

    input[type="text"] {
        width: 100%;
    }
}

#result {
    @include opacity(0);
    @include transition(opacity 0.5s ease);

    &.active {
        @include opacity(1);
    }

    > .pagination {
        width: 200px;
        margin: 20px 0 0;
        padding: 4px;
        @include opacity(0);
        @include transition(opacity 0.5s ease);

        &.active {
            @include opacity(1);
        }

        a {
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;
        }
    }
}



