
#eclipse project files
.classpath
.project
.settings/

#temporary build artifacts
build/
logs/

data/development/
data/test/
data/production/

inputs/production


#h2 log files and lock files
*trace.db
*lock.db
