<div id="wrapper">
			<h1>index-vivus</h1>
			<div id="similar" class="box details"><span class="similar">lorem</span> | <span class="similar">ipsumm</span> | <span class="similar">dolor</span></div>
			
			<div id="translation" class="box details"><h3>Übersetzung</h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur </div>
			<div class="box details"><h5>siehe auch:</h5><div class="seeAlso">lorem</div><div class="seeAlso">ipsum</div><div class="clear"></div></div>
			
</div>