<% content_for :top_right do %>
<div class="col-md-9 keyword-search-col">
	<div id="keywordSearch" class="panel panel-default well">
		<div class="panel-heading">Stichwortsuche</div>
		<form>
			<fieldset class="panel-body">
				<div class="row">
				    <div class="col-md-4">Language</div>
				</div>

				<input type="checkbox" id="language-selector" checked data-label-text="LA" checked data-on-label="G" data-off-label="L" data-on-value="greek" data-off-value="latin" />

				<input type="text" id="inputKeywordSearch" name="inputKeywordSearch" />
				<input type="submit" value="suchen" />
			</fieldset>
		</form>
	</div>
	  <div class="row">
              <div class="col-md-4 col-md-offset-6">
	         <div id="widget" class="panel panel-default well">
	           <div class="panel-heading">Greek Alphabet</div>
	         </div>
              </div>
          </div>
</div>




<% end %>

<div class="panel panel-default well">
	<div class="panel-heading">Volltextsuche</div>
	<form>
		<fieldset id="fulltextSearch" class="panel-body">
			<div class="row">
				<div class="col-md-10 input-col">
					<input type="text" id="inputFulltextSearch" name="inputFulltextSearch" />
				</div>
				<input type="submit" value="suchen" class="col-md-2" />
			</div>
		</fieldset>
	</form>
</div>

<div id="result" class="panel panel-default well">
	<table id ="tbResult" class="table table-striped">
		<thead>
			<tr>
				<td>Ergebnis</td><td>Beschreibung</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<div class="pagination"></div>
</div>
