<div id="keywordSearch" class="box">
	<form>
		<h3>Stichwortsuche</h3>

		<ul id="language-selector">
			<li class="ui-state-default" data-lang="greek">G</li>
			<li class="ui-state-default" data-lang="latin">L</li>
		</ul>

		<input type="text" id="inputKeywordSearch" name="inputKeywordSearch">
		<input type="submit" value="suchen" class="inline">
		<div id="widget">
        		<p>Greek Alphabet</p>
		</div>
	</form>
	
</div>
<div id="searchWrapper">
	<div class="clear"></div>
	<div id="fulltextSearch" class="box">
		<form>
			<h3>Volltextsuche</h3>
			<input type="text" id="inputFulltextSearch" name="inputFulltextSearch" />
			<input type="submit" value="suchen" class="inline" />
		</form>
	</div>
</div>
<div class="clear"></div>
<div id="result">
	<table id ="tbResult">
		<thead>
			<tr>
				<td>Ergebnis</td><td>Beschreibung</td>
			</tr>
		</thead>
		<tbody></tbody>
	</table>

	<div class="pagination"></div>
</div>
