
@mixin box-shadow($shadow) {
    -moz-box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    box-shadow: $shadow;
}

@mixin linear-gradient($from, $to) {
    background-image: -webkit-linear-gradient($from, $to);
    background-image: -moz-linear-gradient($from, $to);
    background-image: -o-linear-gradient($from, $to);
    background-image: linear-gradient($from, $to);
}

@mixin linear-gradient-three-stops($from, $s1, $s2) {
    background-image: -webkit-linear-gradient($from, $s1, $s2);
    background-image: -moz-linear-gradient($from, $s1, $s2);
    background-image: -o-linear-gradient($from, $s1, $s2);
    background-image: linear-gradient($from, $s1, $s2);
}

@mixin opacity($opacity) {
    // see https://coderwall.com/p/mca5xw
    $IEValue: $opacity*100;

    opacity: $opacity;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
    filter: alpha(opacity=$IEValue);
}

@mixin transition($transition) {
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
