// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_mixins";

body {
	@include linear-gradient(white 0%, #9FBFD2 50%);
	font-family: sans-serif;
	text-align: center;
	text-shadow: 0 0 0.05em #eee;
}

a {
	color: #03d;
	text-decoration: none;

	&:hover {
		color: red;
	}
}

h1 {
	text-shadow: #c0c0c0 3px 3px 5px;
}

h3 {
	margin: 0 0 3px;
	font-size: 100%;
	font-weight: bold;
	text-align: left;
}

h5 {
	text-align: left;
	margin-left: 10px;

	&.left-besides {
		float: left;
		margin: 6px 0 0;
	}
}

h3, h5 {
	color: white;
	text-shadow: 0 0 0.1em #222;
}


#widget {
	width: 115px;
	padding: 0px;
	margin: 0px;
	background-color: gray;
	position: absolute;
}

#wrapper {
	width: 850px;
	height: 900px;
	margin: auto;
}


#keywordSearch {
	width: 290px;
	padding: 10px 15px;
	float: right;

	h3 {
		margin-left: 5px;
		text-align: center;
	}

	input[type="text"] {
		float: left;
		display: inline;
		width: 125px;
		margin: 1px 10px;
	}

	input[type="submit"] {
		float: right;
	}
}

#fulltextSearch {
	padding: 10px 15px 15px;
	height: 40px;
	margin: 45px 0px;

	input[type="text"] {
		width: 745px;
		float: left;
	}

	input[type="submit"] {
		float: right;
	}
}


#tbResult {
	width: 100%;
	background-color: #F9F9F9;
	margin: 0 auto;

	@include box-shadow(2px 2px 1px 2px #ccc);
	@include opacity(0);
	@include transition(opacity 0.5s ease);

	&.active {
		@include opacity(1);
	}

	> thead {
		background-color: #A2CBF2;
		color: white;
		font-weight: bolder;
		text-shadow: 0 0 0.1em #222;
	}

	> tbody {
		> tr:nth-child(even) {
			background-color: #D9DBDD;
		}

		> tr {
			cursor: pointer;

			&:hover {
				background-color: #A2CBF2;
			}

			> td:nth-child(1) {
				width: 200px;
			}
			> td:nth-child(2) {
				width: 80px;
			}
			> td:nth-child(3) {
				width: 400px;
			}

			a, a:hover {
				color: black;
			}
		}
	}
}


.box {

	background-color: #A2CBF2;
	border-radius: 3px;
	@include box-shadow(2px 2px 1px 2px #ccc);
}

.box.details {
	width: 80%;
	margin: 25px auto;
	text-align: center;
	padding: 7px;
}

.clear {
	clear: both;
}

.inline {
	float: left;
}

#feedback {
	font-size: 0.5em;
}

#language-selector {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 250px;

	li {
		margin: 4px;
		padding: 1px;
		margin-top: -2px;
		float: left;
		width: 25px;
		height: 25px;
		cursor: pointer;
		font-size: 1.3em;
		text-align: center;
		@include linear-gradient(white 0%, #9FBFD2 50%);

		&.ui-selecting {
			background: #FECA40;
		}

		&.ui-selected {
			@include linear-gradient(white 0%, #F39814 50%);
			color: white;
		}
	}
}

input[type="submit"] {
	@include linear-gradient(white 0%, #9FBFD2 50%);
	border: 0;
	margin: 2px;

	&:hover {
		@include linear-gradient(white 0%, #F39814 50%);
	}
}

#translation {
	h3 {
		margin-left: 10px;
	}

	p {
		padding: 0 10px;
		text-align: justify;
	}
}

.similar:hover, .seeAlso:hover{
	text-decoration: underline;
}
.similar{
	margin: 0px 5px;

}

tr {
	border-bottom: 1px solid #AFAFAF;
}
td {
	padding: 5px;
}

table, td {
	border-collapse: collapse;
	border-right: 1px solid #AFAFAF;
}

.seeAlso{
	font-size: 0.9em;
}

ul.ui-autocomplete{
	font-size: 11px;
}
